/* Reset default margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background: #f0f2f5;
  overflow-x: hidden;
  margin: 0;
}

/* Container styles */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  animation: fadeInDown 2s ease-in-out;
}

/* Header pseudo-elements for animation */
header::before {
  top: -150px;
  left: -150px;
}

header::after {
  bottom: -150px;
  right: -150px;
  animation-delay: 3s;
}

/* Navigation styles */
header nav {
  margin-top: 20px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #1e2a38;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header nav ul li a:hover {
  border-color: #50b3a2;
  background-color: #243447;
}

header nav ul li a i {
  margin-right: 5px;
}

/* Section styles */
section {
  padding: 40px 0;
  position: relative;
  overflow: hidden;
  animation: fadeIn 2s ease-in-out;
}

section::before {
  top: -200px;
  left: -200px;
}

section::after {
  bottom: -200px;
  right: -200px;
  animation-delay: 5s;
}

/* Heading styles */
h2 {
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
}

/* Paragraph styles */
p {
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: center;
}

/* About section styles */
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.about-content img {
  width: 350px;
  margin-right: 20px;
}

/* Skills list styles */
.skills-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-list li {
  background-color: #fff;
  font-size: 1.2rem;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.skills-list li:hover {
  transform: scale(1.1);
}

/* Project, education item, and internship item styles */
.project,
.education-item,
.internship-item {
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.project:hover,
.education-item:hover,
.internship-item:hover {
  transform: scale(1.02);
}

.project h3,
.education-item h3,
.internship-item h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Resume section styles */
#resume {
  padding: 40px 0;
  position: relative;
  overflow: hidden;
  animation: fadeIn 2s ease-in-out;
}

#resume h2 {
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
}
.resume-content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.resume-content .resume-item {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.resume-content .resume-item:hover {
  transform: scale(1.05);
}

.resume-content .resume-item p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
}

/* Contact info styles */
.contact-info {
  text-align: center;
  margin-top: 20px;
}

/* Footer styles */
footer {
  background-color: #1e2a38; /* Dark blue */
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  overflow: hidden;
  margin-top: 40px;
  animation: fadeInUp 2s ease-in-out;
}

footer p {
  font-size: 1rem;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  header {
    padding: 20px 0;
  }

  header nav ul {
    flex-wrap: wrap;
  }

  header nav ul li {
    margin: 10px 0;
  }

  header nav ul li a {
    font-size: 1rem;
    padding: 8px 16px;
  }

  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-content img {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 2.5rem;
  }

  .skills-list li {
    font-size: 1rem;
    padding: 8px 16px;
    margin: 5px;
  }

  .project,
  .education-item,
  .internship-item,
  .resume-content .resume-item {
    padding: 10px;
    margin-bottom: 10px;
  }

  .project h3,
  .education-item h3,
  .internship-item h3 {
    font-size: 1.8rem;
  }

  .resume-content .resume-item p {
    font-size: 1rem;
  }
}
